@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #F8EDE3;
    color: #191c20;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

/* Nav Bar */
.logo {
    align-self: center;
    margin-left: .5em;
    font-size: 1.3rem;
    text-shadow: .3px .3px .3px #0f172a;
    color: #3A98B9;
    font-weight: bold;
}
header {
    display: flex;
    justify-content: space-between;
}
.open {
    padding: .5em;
    background-color: #3A98B9;;
}
.exit {
    width: 3rem;
    float: right;
}
nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #8D7B68;
    height: 100vh;
    width: 55%;
    z-index: 10;
    /* animation */
    transform: translateX(50%);
    opacity: 0;
    transition: all .3s;
}
nav ul {
    margin-top: 3em;
    padding: 0;
}
li a {
    color: #FFFFFF;
    display: block;
    padding: .5em;
    font-weight: bold;
    margin-left: 1em;
    font-size: 1.125rem;
    letter-spacing: .1em;
}
li a:hover {
    background-color: #3A98B9;
    border-radius: 2px;
}
.active:hover {
    color: #FFFFFF;
}
.active {
    color: #3A98B9;
    text-transform: uppercase;
    text-shadow: .3px .3px .3px #0f172a;
}
.open-nav {
    display: block;
    transform: translateX(0);
    opacity: 1;
}
/* hero section */
.wrapper {
    padding: 1em;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: .8em;
}
h1, 
main p {
    text-align: center;
}
h1 {
    margin-bottom: 0;
    position: relative;
    margin-top: 1.5em;
}
h1::before {
    content: '';
    position: absolute;
    background-color: #3A98B9;
    height: 10%;
    width: 50%;
    top: -20%;
    right: 25%;
}
button {
    font-family: inherit;
    font-weight: bold;
    width: 100%;
    padding: .5em;
    margin-bottom: 1em;
    border: none;
    border-radius: 3px;
    font-size: 1.125rem;
    border: 2px solid #3A98B9;
    white-space: nowrap;
}
.browse-tea-btn {
    background-color: #3A98B9;
    color: #FFFFFF;
}
.buy-tea-btn {
    background-color: transparent;
}
main p {
    line-height: 1.4em; 
}
.fern {
    background: url('fern.svg') no-repeat;
    height: 50vh;
    width: 70%;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: -1;
    opacity: .1;
}
.plant-container {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.plant {
    position: absolute;
    width: 350px;
    right: -28%;
    bottom: -20%;
}
@media (min-width: 500px){
    .open,
    .exit {
        display: none;
    }
    nav {
        display: flex;
        height: auto;
        position: unset;
        background-color: unset;
        opacity: 1;
        transform: translateX(0);
    }
    ul {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    nav ul {
        margin-top: 0;
    }
    li a {
        color: #0f172a;
        padding: 1em 0;
    }
    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.3rem;
        padding: .3em 1em;
    }
    button {
        margin-left: 1em;
    }
    .btn-wrapper {
        display: flex;
    }
    .plant {
        position: absolute;
        width: 480px;
        right: -20%;
        bottom: 0;
    }
}
@media (min-width: 850px) {
    body {
        background-color: #FFFFFF;
    }
    .left-col {
        background-color: #F8EDE3;
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100vh;
        z-index: -10;
    }
    nav {
        justify-content: flex-end;
    }
    .logo {
        display: block;
        padding: 0 2em;
    }
    li a,
    .logo,
    button{
        font-size: 1.8rem;
    }
    li a:last-child {
        margin-right: 2em;
    }
    h1 {
        font-size: 3rem;
    }
    p {
        width: 60%;
        font-size: 2rem;
    }
    main {
        justify-content: center;
        height: 70vh;
    }
    .wrapper {
        display: flex;
    }
    .plant-container {
        position: unset;
    }
    .plant {
        top: 10%;
        right: 10%;
        height: auto;
        width: auto;
    }
}
