@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
/* Nav Bar */
.logo {
    align-self: center;
    margin-left: .5em;
    font-size: 1.3rem;
    text-shadow: .3px .3px .3px #0f172a;
    color: #3A98B9;
    font-weight: bold;
}
header {
    background-color: #F8EDE3;
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
}
.open {
    padding: .5em;
    background-color: #3A98B9;;
}
.exit {
    width: 3rem;
    float: right;
}
nav {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #8D7B68;
    height: 100vh;
    width: 55%;
    /* animation */
    transform: translateX(50%);
    opacity: 0;
    transition: all .3s;
}
nav ul {
    margin-top: 3em;
    padding: 0;
}
li a {
    color: #FFFFFF;
    display: block;
    padding: .5em;
    font-weight: bold;
    margin-left: 1em;
    font-size: 1.125rem;
    letter-spacing: .1em;
}
li a:hover {
    background-color: #3A98B9;
    border-radius: 2px;
}
.active:hover {
    color: #FFFFFF;
}
.active {
    color: #3A98B9;
    text-transform: uppercase;
    text-shadow: .3px .3px .3px #0f172a;
}
.open-nav {
    visibility: unset;
    transform: translateX(0);
    opacity: 1;
}
@media (min-width: 600px){
    .open,
    .exit {
        visibility: hidden;
    }
    nav {
        visibility: unset;
        height: auto;
        position: unset;
        background-color: unset;
        opacity: 1;
        transform: translateX(0);
    }
    ul {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }
    nav ul {
        margin-top: 0;
    }
    li a {
        color: #0f172a;
        padding: 1em .5em;
    }
}